<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="Server.FileService"
				address="net.tcp://192.168.2.144:8081/FileService"
				binding="netTcpBinding"
				contract="ServerInterface.IFileService"
				bindingConfiguration="fileTcpBinding" />
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="fileTcpBinding" maxReceivedMessageSize="20480000" transferMode="Streamed" >
          <security mode="None"/>
        </binding>
        <binding name="businessTcpBinding">
            <security mode="None">
              <!--<transport clientCredentialType="Windows" />-->
            </security>
          </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>