<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="hostIP" value="192.168.2.144:8080" />
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint name="Server.FileService"
				address="net.tcp://192.168.2.144:8081/FileService"
				binding="netTcpBinding"
				contract="ServerInterface.IFileService"
				bindingConfiguration="fileTcpBinding" />
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="fileTcpBinding" maxReceivedMessageSize="20480000" transferMode="Streamed" >
          <security mode="None"/>
        </binding>
        <binding name="businessTcpBinding"
                closeTimeout="00:01:00"
                openTimeout="00:01:00"
                receiveTimeout="00:10:00"
                sendTimeout="00:01:00"
                hostNameComparisonMode="StrongWildcard"
                maxBufferSize="2147483647"
                maxBufferPoolSize="2147483647"
                maxReceivedMessageSize="2147483647"
                transferMode="Buffered">
                <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>