<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="Server.FileService"
				address="net.tcp://192.168.2.144:8081/FileService"
				binding="netTcpBinding"
				contract="ServerInterface.IFileService"
				bindingConfiguration="customTcpBinding" />
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="customTcpBinding" maxReceivedMessageSize="20480000" transferMode="Streamed" />
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>