<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
      <appSettings>
    <add key="CLIENT_VERSION" value="0,39" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="fileTcpBinding"
          transferMode="Streamed"
          maxReceivedMessageSize="20480000">
          <security mode="None"/>
        </binding>
        <binding name="businessTcpBinding"
          transferMode="Buffered"
          maxBufferSize="2147483647"
          listenBacklog="2147483647"
          maxConnections="2147483647"
          maxBufferPoolSize="2147483647"
          closeTimeout="00:02:00"
          openTimeout="00:02:00"
          sendTimeout="00:02:00"
          receiveTimeout="00:02:00"
          maxReceivedMessageSize="2147483647">
          <security mode="None"/>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata />
        	<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Server.BusinessService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="businessTcpBinding"
          name="ServerEndpoint" contract="ServerInterface.IBusinessService" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          name="ServerMexEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.2.144:8080/ServerInterface" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Server.FileService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="fileTcpBinding"
          name="FileServiceEndpoint" contract="ServerInterface.IFileService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.2.144:8081/FileService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Server.LauncherService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
           name="ServerLauncherEndpoint" contract="ServerInterfaceForLauncher.ILauncherMethods" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.2.144:8082/LauncherService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ServiceDB" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=&quot;E:\EDOC_DB\ServiceDB.mdf&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>