<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="01:10:00">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />

        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Server.Methods">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
                name="ServerEndpoint" contract="ServerInterface.IMethods" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
                name="ServerLauncherEndpoint" contract="ServerInterfaceForLauncher.ILauncherMethods" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                name="ServerMexEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.2.144:8080/ServerInterface" />
          </baseAddresses>
        </host>
      </service>
    </services>  
  </system.serviceModel>
</configuration>
      