<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="hostIP" value="192.168.2.144:8080" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="businessTcpBinding">
          <security mode="None">
            <!--<transport clientCredentialType="Windows" />-->
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>